<div class="row  container tintuc">

  <div class="col-sm-6 py-3 news col-12">
    <div>
      <img class="news-img" src="../../../../../assets/img/review1.png">
    </div>
    <h5 class="news-title">
      <a href="#">Review: Tàn Tích Quỷ Ám (Relic) - Ba thế hệ và mối liên kết</a>
    </h5>
    <p class="news-text">
      Điểm nhấn của phim kinh dị năm 2020 chính là Tàn Tích Quỷ Ám
    </p>
    <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div>
  </div>
  <div class="col-sm-6 py-3 news col-12">
    <div>
      <img class="news-img" src="../../../../../assets/img/review2.png">
    </div>
    <h5 class="news-title">
      <a href="#">Review: Dinh Thự Oan Khuất (Ghost Of War)</a>
    </h5>
    <p class="news-text">
      Tuy là một bộ phim có chất lượng tốt, nhưng có vẻ Dinh Thự Oan Khuất vẫn chưa đủ để đem khán giả trở lại phòng vé!
    </p>
    <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div>
  </div>

  <div class="col-sm-4 news col-12">
    <div>
      <img class="news-img" src="../../../../../assets/img/review3.png">
    </div>
    <h5 class="news-title">
      <a href="#">‘BlacKkKlansman’ - cốc nước lạnh để người Mỹ thức tỉnh</a>
    </h5>
    <p class="news-text">
      Tác phẩm nhận đề cử Phim truyện xuất sắc tại Oscar 2019 của đạo diễn Spike Lee là một lát cắt nữa về nạn phân biệt chủng tộc - nỗi đau gây nhức 
    </p>
    <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div>
  </div>
  <div class="col-sm-4 news col-12">
    <div>
      <img class="news-img"
        src="../../../../../assets/img/review4.png">
    </div>
    <h5 class="news-title">
      <a href="#">American Sniper - Chính nghĩa hay phi nghĩa?</a>
    </h5>
    <p class="news-text">
      American Sniper khắc họa một tay súng bắn tỉa “huyền thoại” của Hải quân Mỹ với 4 lần tham chiến ở Trung Đông. Câu chuyện phim chậm rãi đưa người 
    </p>
    <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div>
  </div>
  
  
  <div class="col-sm-4 demo col-12 py-3">
  
    <div class="row">
      <div class="col-sm-3">
        <img src="../../../../../assets/img//review5.png" alt="" class="news-img img-fluid">
      </div>
      <div class="col-sm-9">
        <div class="text">
          <p>Review: Spider-Man: Into The Spider-Vesre</p>
        </div>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-sm-3 col-3">
        <img src="../../../../../assets/img/review6.jpg"
          alt="" class="news-img img-fluid">
      </div>
      <div class="col-sm-9 text col-9">
        <p>COVID-19 là bản chính thức của MEV-1 phim contagion (2011)</p>
      </div>
    </div>
    <div class="row  py-1">
      <div class="col-sm-3 col-3">
        <img
          src="../../../../../assets/img/review7.jpg"
          alt="" class="news-img img-fluid">
      </div>
      <div class="text col-sm-9 col-9">
        <p>[Review] Siêu Vệ Sĩ Sợ Vợ - Giải cứu Tổng thống chưa bao giờ lầy lội và hài hước đến thế</p>
      </div>
    </div>
    <div class="row  py-1">
      <div class="col-sm-3 col-3">
        <img
          src="../../../../../assets/img/review8.jpg"
          alt="" class="news-img">
      </div>
      <div class="text col-sm-9 col-9">
        <p>[Review] Bloodshot - Mở màn ấn tượng cho Vũ trụ Siêu anh hùng Valiant</p>
      </div>
    </div>
   </div>
  </div>
