<div class="quanLy-nguoiDung" [ngClass]='{"show":danhSachNguoiDung}'>
    <div class="add-user">
        <button (click)='themNguoiDung()' data-toggle="modal" data-target="#addUser" mat-raised-button color="primary"
            #button>Thêm Người
            Dùng</button>
    </div>
    <mat-form-field>
        <mat-label><i class="fas fa-search"></i> Tìm Kiếm </mat-label>
        <input id='looking' matInput (keyup)="applyFilter($event)" #looking>
        <div class="remove-input" (click)='xoaInput()'><i class="fas fa-times"></i>
        </div>
    </mat-form-field>
    <div class="table-content">
        <table style="overflow-x:auto;" mat-table matSort [dataSource]="danhSachNguoiDung" class="mat-elevation-z8">
            <ng-container matColumnDef="action">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Hành Động </th>
                <td class="action" mat-cell *matCellDef="let element">
                    <i (click)='xoaNguoiDung(element.taiKhoan)' title='Xóa người dùng'
                        class="fas fa-trash-alt mr-4"></i>
                    <i data-toggle="modal" data-target="#addUser" (click)='suaNguoiDung(element.taiKhoan)'
                        title='Sửa người dùng' class="fas fa-edit"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="taiKhoan">
                <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header> Tài Khoản </th>
                <td mat-cell *matCellDef="let element"> {{element.taiKhoan}} </td>
            </ng-container>


            <ng-container matColumnDef="matKhau">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mật Khẩu </th>
                <td mat-cell *matCellDef="let element"> {{element.matKhau}} </td>
            </ng-container>


            <ng-container matColumnDef="hoTen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </th>
                <td mat-cell *matCellDef="let element"> {{element.hoTen}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="SoDt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại </th>
                <td mat-cell *matCellDef="let element"> {{element.soDt}} </td>
            </ng-container>

            <ng-container matColumnDef="maLoaiNguoiDung">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã loại người dùng </th>
                <td mat-cell *matCellDef="let element"> {{element.maLoaiNguoiDung}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" [length] showFirstLastButtons></mat-paginator>

    <!-- Modal  -->
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <app-create-update-user [objectSuaUser]=objectSuaUser (updateUser)=capNhatDsNguoiDung()>
        </app-create-update-user>
    </div>
</div>
