@import "main";
.news{
    .news-img{
        width: 100%;
        height: 100%;
        border-radius: $pad-mar1;
    }
    .news-title{
        text-overflow: ellipsis;
        line-height: 20px;
        font-family: 'SF Medium';
        height: 42px;
        font-size: $font-size2;
        transition: color .2s;
        margin: $pad-mar1 0px;
        a{
            color: #000000;
            text-decoration: none;
        }
    }
    .news-text{
        text-align: justify;
        font-size: $font-size1;
        color: #4a4a4a;
        line-height: 19px;
        margin: 0;
    }
    .social-count {
        span {
          color: #bbb;
          font-size: $font-size1;
          line-height: 1;
        }

        .iconFacebook {
          vertical-align: middle;
          margin-right: $pad-mar2;
        //   margin-top: 2px;
          height: auto;
          width: 18px;
          transition: all .2s;

          &:hover {
            transform: scale(1.1);
          }
        }
    }
}
.demo{
    img{
        height: 65px;
        width: 100%;
        border-radius: $pad-mar1;
    }
    .text p{
        color: #000000;
        margin-top: $pad-mar1;
        font-size: $font-size1;
    }
}

@include for-size(sm){
    .news-text{
        display: none;
    }
    .demo{
        img{
            width: 100%;
            height: 100%;
            border-radius: $pad-mar1;
        }
    }
}