<div class="row  container">

    <div class="col-sm-6 py-3 news col-12">
      <div>
        <img class="news-img" src="../../../../../assets/img/khuyenmai1.png">
      </div>
      <h5 class="news-title">
        <a href="#">[TIX 1K/VÉ NGẠI CHI GIÁ VÉ</a>
      </h5>
      <p class="news-text">
        Đồng giá 1k/vé cả tuần tất cả các rạp trên TIX + Nhận thêm 02 voucher thanh toán ZaloPay thả ga
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>
    <div class="col-sm-6 py-3 news col-12">
      <div>
        <img class="news-img" src="../../../../../assets/img/khuyenmai2.png">
      </div>
      <h5 class="news-title">
        <a href="#">ĐỒNG GIÁ 1K/VÉ KHI MUA VÉ QUA TIX </a>
      </h5>
      <p class="news-text">
        ĐỒNG GIÁ 1K/VÉ KHI MUA VÉ QUA TIX Hành trình tìm Ròm và Phúc chỉ với 1k cả tuần + nhận thêm 02 voucher khi đặt vé qua TIX.
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>

    <div class="col-sm-4 news col-12">
      <div>
        <img class="news-img" src="../../../../../assets/img/khuyenmai3.jpg">
      </div>
      <h5 class="news-title">
        <a href="#">BHD STAR VÉ CHỈ 59.000Đ CẢ TUẦN!</a>
      </h5>
      <p class="news-text">
        Tận hưởng Ưu Đãi lên đến 3 VÉ BHD Star mỗi tuần chỉ với giá 59k/vé khi mua vé trên TIX và thanh toán bằng ZaloPay hoặc Mục Vé Phim trên ZaloPay.
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>
    <div class="col-sm-4 news col-12">
      <div>
        <img class="news-img"
          src="../../../../../assets/img/khuyenmai4.png">
      </div>
      <h5 class="news-title">
        <a href="#">Beta Cineplex trở lại với hàng loạt ưu đãi lớn</a>
      </h5>
      <p class="news-text">
        Từ thứ 7 tuần này (9/5), toàn bộ các rạp Beta Cinemas trên toàn quốc sẽ mở cửa trở lại. Mừng ngày trở lại, hàng loạt khuyến mại KHỦNG đổ bộ 
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>
    
    
    <div class="col-sm-4 demo col-12 py-3">
      <div class="row">
        <div class="col-sm-3 col-3">
          <img
            src="../../../../../assets/img/khuyenmai5.jpg"
            alt="" class="news-img">
        </div>
        <div class="col-sm-9 col-9 col-9">
          <div class="text">
            <p>[123Phim] Thứ 6 Không Đen Tối -  Ưu đãi huỷ diệt 11k/vé Anh Trai Yêu Quái</p>
          </div>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-sm-3 col-3">
          <img src="../../../../../assets/img//khuyenmai6.jpg"
            alt="" class="news-img">
        </div>
        <div class="col-sm-9 text col-9">
          <p>[123Phim] NHẬP MÃ 'PSM30K' - Giảm ngay 30k khi đặt vé Pháp Sư Mù: Ai Chết Giơ Tay</p>
        </div>
      </div>
      <div class="row  py-1">
        <div class="col-sm-3 col-3">
          <img
            src="../../../../../assets/img/khuyenmai7.jpg"
            alt="" class="news-img">
        </div>
        <div class="text col-sm-9 col-9">
          <p>Tận hưởng Ưu Đãi lên đến 3 VÉ BHD Star mỗi tuần chỉ với giá 59k/vé ...</p>
        </div>
      </div>
      <div class="row  py-1">
        <div class="col-sm-3 col-3">
          <img
            src="../../../../../assets/img/khuyenmai8.jpg"
            alt="" class="news-img">
        </div>
        <div class="text col-sm-9 col-9">
          <p>[123Phim] NHẬP MÃ 'BKT' - Giảm ngay 20k khi đặt vé Bắc Kim Thang</p>
        </div>
      </div>
    </div>
</div>