<div class="row  container">

    <div class="col-sm-6 py-3 news col-12">
      <div>
        <img class="news-img" src="../../../../../assets/img/dienanh1.jpg">
      </div>
      <h5 class="news-title">
        <a href="#">[ANTEBELLUM] - 4 lý do không thể bỏ lỡ siêu phẩm kinh dị Antebellum: Bẫy Thực Tại Kinh Hoàng</a>
      </h5>
      <p class="news-text">
        Trong hơn 20 năm qua, Nolan đã thành công chiêu mộ và chỉ đạo nhiều diễn viên nổi tiếng trong những tác
        phẩm kinh điển như The Dark Knight, Inception, Interstellar, Dunkirk và sắp tới đây là Tenet...
      </p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>
    <div class="col-sm-6 py-3 news col-12">
      <div>
        <img class="news-img" src="../../../../../assets/img/dienanh2.jpg">
      </div>
      <h5 class="news-title">
        <a href="#">Ác Quỷ Đối Đầu soán ngôi Peninsula, trở thành phim đứng đầu doanh thu tại Hàn Quốc mùa dịch</a>
      </h5>
      <p class="news-text">
        Ác Quỷ Đối Đầu (tựa cũ: Truy Cùng Giết Tận) là câu chuyện của In-nam (Hwang Jung Min) – một tay sát thủ quyết định
        giải nghệ sau khi thực hiện hợp đồng cuối cùng của mình. Chưa kịp rửa tay gác kiếm, In-nam chợt nhận được thông
        tin con gái mình bị bắt cóc ở Thái Lan
      </p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>

    <div class="col-sm-4 news col-12">
      <div>
        <img class="news-img" src="../../../../../assets/img/dienanh3.png">
      </div>
      <h5 class="news-title">
        <a href="#">Dàn mỹ nhân trong thế giới điện ảnh của quái kiệt Christopher Nolan</a>
      </h5>
      <p class="news-text">
        Trong hơn 20 năm qua, Nolan đã thành công chiêu mộ và chỉ đạo nhiều diễn viên nổi tiếng trong những tác
        phẩm kinh điển như The Dark Knight, Inception, Interstellar, Dunkirk và sắp tới đây là Tenet...
      </p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>
    <div class="col-sm-4 news col-12">
      <div>
        <img class="news-img"
          src="../../../../../assets/img/dienanh4.png">
      </div>
      <h5 class="news-title">
        <a href="#">Truy Cùng Giết Tận - Cuộc tái ngộ của hai 'ông hoàng phòng vé' xứ Hàn</a>
      </h5>
      <p class="news-text">
        Sau 7 năm kể từ New World – bộ phim đạt thành tích hơn 4.68 triệu vé, hai tên tuổi lão làng
        trong làng điện ảnh Hàn Quốc mới tiếp tục tái hợp trong Truy Cùng Giết Tận – một bộ phim hành động siêu “nặng
        đô”...
      </p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>
    
    
    <div class="col-sm-4 demo col-12 py-3">
      <div class="row">
        <div class="col-sm-3 col-3">
          <img
            src="../../../../../assets/img/dienanh5.png"
            alt="" class="news-img img-fluid">
        </div>
        <div class="col-sm-9 col-9">
          <div class="text">
            <p>6 đạo diễn tỉ đô làm nên thành công của những bom tấn đình đám nhất Hollywood</p>
          </div>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-sm-3 col-3">
          <img src="../../../../../assets/img/dienanh6.png"
            alt="" class="news-img img-fluid">
        </div>
        <div class="col-sm-9 text col-9">
          <p>Gái Già Lắm Chiêu V – Những cuộc đời vương giả</p>
        </div>
      </div>
      <div class="row  py-1">
        <div class="col-sm-3 col-3">
          <img
            src="../../../../../assets/img/dienanh7.png"
            alt="" class="news-img img-fluid">
        </div>
        <div class="text col-sm-9 col-9">
          <p>Kaity Nguyễn trở thành mỹ nhân mới của vũ trụ Gái Già Lắm Chiêu</p>
        </div>
      </div>
      <div class="row  py-1">
        <div class="col-sm-3 col-3">
          <img
            src="../../../../../assets/img/dienanh8.png"
            alt="" class="news-img img-fluid">
        </div>
        <div class="text col-sm-9 col-9">
          <p>5 lý do khiến bạn không thể bỏ qua bộ phim Cậu Bé Người Gỗ Pinocchio</p>
        </div>
      </div>
    </div>
</div>