@import "main";
.modal-content{
    background-color: indigo;
    .modal-header{
        button{
            margin: 0;
            padding: 0;
        }
      h2{
          font-size: $pad-mar5;
          color: white;
      }

    }
    label{
        font-size: $font-size3;
        color: khaki;
    }
    .btn-xacNhan{
        margin: 0 auto;
    }
}