@import "main";
.ghe,
.ghe-selected {
  @include wh-circle(40px);
  @include for-size(ll) {
    @include wh-circle(30px);
  }
}
.ghe {
  border: 1px #c7c6c7 solid;
  border-radius: $pad-mar1;
  cursor: pointer;
  background-color: #002f4f;
  p {
    margin: 0 auto;
    align-self: center;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
  }
}
.ghe.dangDat {
  transition: all 0.5s;
  background-color: #0196aa;
  box-shadow: inset 0 0 11px 4px #0b4a52;
  p {
    visibility: visible;
    opacity: 1;
  }
}

.ghe-selected {
  border: 1px #c7c6c7 solid;
  border-radius: $pad-mar1;
  background-color: #4d4d4d;
  pointer-events: none;
}
