<div class="ung-dung">
    <div class="ung-dung__content container mx-auto">
        <div class="row">
            <div class=" col-lg-6 col-12  ung-dung__text">
                <div>
                    <p class="text-u-left">Ứng dụng tiện lợi dành cho  </p>
                    <p class="text-u-left">người yêu điện ảnh</p>
                    <p class="py-3">Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
                    <button class="btn btn-ungDung">App miễn phí - Tải về ngay!</button>
                </div>
            </div>
            <div class="col-lg-6 col-12 ung-dung__dt text-center">
                <div class="ung-dung__img d-flex">
                    <img class="img-dt" src='assets/img/phone.png'>
                    <div class="ung-dung__carousel">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                            <div ngxSlickItem class="slide">
                                <img src='assets/img/slide10.jpg'>
                            </div>
                            <div ngxSlickItem class="slide">
                                <img src='assets/img/slide11.jpg'>>
                            </div>
                            <div ngxSlickItem class="slide">
                                <img src='assets/img/slide9.jpg'>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>