@import "main";

@mixin bgc {
  background-color: #b4cc5c;
  box-shadow: 0 0 $pad-mar1 1px #1b1b1b;
  border-radius: $pad-mar3;
}

#dat-ve {

  @include for-size(ll) {
    padding-top: 40px;
    height: 730px;
  }
  @include for-size(lg) {
    height: 650px;
  }
  @include for-size(sm) {
    height: 100%;
  }
}
.row {
  margin: 0 !important;
}
.trang-datVe {
  color:#fff;
  padding: $pad-mar8 0;
  width: 1460px;
  @include for-size(ll) {
    width: $width-xl;
    padding: 6% 0;
  }
  @include for-size(lg) {
    width: $width-lg;
  }
  @include for-size(md) {
    width: 95%;
  }

  .thongTinGhe {
    @include for-size(xl) {
      max-width: (100%/12 * 8);
    }
    @include for-size(ll) {
      max-width: (100%/12 * 7);
    }
    @include for-size(lg) {
      max-width: (100%/12 * 8);
    }
    @include for-size(sm) {
      max-width: 100%;
    }
  }
  .thongTinPhim {
    position: relative;
    @include for-size(xl) {
      max-width: (100%/12 * 4);
    }
    @include for-size(ll) {
      max-width: (100%/12 * 5);
    }
    @include for-size(lg) {
      max-width: (100%/12 * 4);
    }
    @include for-size(sm) {
      max-width: 100%;
      display: flex;
    }
    .dat-ve-right {
      @include for-size(sm) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .info-title {
    font-size: $font-size5;
    @include for-size(lg) {
      font-size: $font-size4;
    }
    @include for-size(md) {
      font-size: $font-size4;
    }
  }
  .ve__info-phim,
  .ve__info-rap,
  .ve__giaVe,
  .combo-content{
    @include bgc;
    padding: $pad-mar2 $pad-mar6;
    margin: 15px 0;
    @include for-size(lg) {
      padding: $pad-mar2;
    }
    img {
      position: relative;
      margin-right:20px;
      width: 70px;
      height: 100px;
      @include for-size(lg) {
        height: 85px;
      }
      @include for-size(md) {
        display: none;
      }
      @include for-size(sm) {
        display: block;
        width: 60px;
      }
      @include for-size(xs) {
        display: none;
      }
      @include for-size(phone-sm) {
        display: block;
      }
    }
    .img-border {
      position: absolute;
      top: $pad-mar2;
    }
    @include for-size(md) {
      padding: $pad-mar2 $pad-mar3;
    }
  }

  
  .button-ve {
    background-color:$color-disabled;
    background-image: none;
    pointer-events: none;
    padding: $pad-mar2;
    border-radius: 3px;
    width: 12%;
    color: #fff;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    @include for-size(sm) {
      @include positionFixed(bottom,left,0,0);
      width: 100%;
      font-size: $font-size6;
      z-index: 10;
    }
    @include for-size(xs) {
      font-size: $font-size7;
    }
    &.active {
      background-image: linear-gradient(
        -225deg,
        #22e1ff 0%,
        #1d8fe1 48%,
        #625eb1 100%
      );
      cursor: pointer;
      pointer-events: visible;
      &:hover {
        background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
      }
    }
  }
  .ve__giaVe {
    line-height: 25px;
    @include for-size(md) {
      background: none;
      box-shadow: none;
      padding: 0 0;
    }
    @include for-size(sm) {
      @include bgc; // Hàm Mixin ở dòng 3 
      padding: $pad-mar2 $pad-mar6;
    }
    @include for-size(xs) {
      padding: $pad-mar2 $pad-mar1;
    }
    @include for-size(xs) {
      // background: none;
      // box-shadow: none;
    }
    @include for-size(phone-sm) {
      background: none;
      box-shadow: none;
      padding: $pad-mar2 0;
    }
    .tongTien {
      padding: 0 $pad-mar1;
      padding-top: $pad-mar3;
      p:last-child {
        font-size: 18px;
        @extend %fontColor-blue;
      }
    }
    .bap-nuoc {
      // Loại bỏ padding của col
      padding: 0 5$pad-mar1;
    }
    .giaVe__left {
      width: 80%;
      @include for-size(lg) {
        font-size: $font-size2;
      }
    }
    .giaVe-bap,
    .giaVe__time {
      @include for-size(md) {
        @include bgc;
        padding:$pad-mar2;
      }
      @include for-size(sm) {
        background: none;
        box-shadow: none;
      }
      @include for-size(phone-sm) {
        @include bgc;
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    .giaVe-bap {
      @include for-size(phone-sm) {
      }
    }
    .giaVe__time {
      text-align: right;
      border-left: 1px solid rgba(255, 255, 255, 0.7);
      @include for-size(md) {
        text-align: left;
        border: none;
        margin-top: $pad-mar3;
      }
      @include for-size(sm) {
        text-align: right;
        border-left: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 0;
        margin-top: 0;
      }
      @include for-size(phone-sm) {
        border: none;
        margin-top: $pad-mar3;
        text-align: left;
        display: flex !important;
        border-radius: 5px;
      }

      .count-down {
        padding-top: calc(25px + 0.75rem);
        font-size: $font-size5;
        @extend %fontColor-blue;
        @include for-size(lg) {
          padding-top: $pad-mar3;
        }
        @include for-size(md) {
          text-align: right;
        }
        @include for-size(md) {
          padding: 0;
          margin-left: auto;
        }
        @include for-size(sm) {
          padding-top: calc(25px + 0.75rem);
        }
        @include for-size(phone-sm) {
          padding: 0;
        }
      }
    }
  }
  .ve__info-phim {
    @include for-size(sm) {
      @include col-bs4(48%)
    }
    @include for-size(phone-sm) {
      @include col-bs4(100%)
    }
    .ve_info {
      .ngayChieu {
        .suatChieu__2D {
          text-align: center;
          font-size: $font-size4;
          font-weight: bold;
          color: #fff;
          margin: 0;
          background-image: linear-gradient(#3beb98, #188f57);
          width: 50px;
          margin: $pad-mar2 0;
        }
        .ngayGio {
          align-self: center;
          font-size: $font-size3;
          // @extend %fontColor-blue;
          @include for-size(lg) {
            font-size: $font-size3;
          }
          span {
            font-size: $font-size2;
            text-shadow: none;
            color: brown;
            @include for-size(lg) {
              font-size: $font-size1;
            }
          }
        }
      }
    }
  }
  .ve__info-rap {
    @include for-size(sm) {
      @include col-bs4(48%)
    }
    @include for-size(phone-sm) {
      @include col-bs4(100%)
    }
    img {
      @include wh-circle(80px);
      border-radius: 50%;
      @include for-size(md) {
        display: none;
      }
      @include for-size(sm) {
        display: block;
        @include wh-circle(60px);
      }
      @include for-size(xs) {
        display: none;
      }
      @include for-size(phone-sm) {
        display: block;
      }
    }
    .veRap-info {
      width: 100%;
      .ghe-da-dat {
        margin-top: $pad-mar1;
        font-size: $font-size3;
        @include for-size(md) {
          font-size: $font-size2;
        }
        .veRap-info__rap,
        span {
          font-size: $font-size3;
          @extend %fontColor-blue;
          
        }
        .gheDat {
          width: 40%;
          @include for-size(lg) {
            width: 100%;
          }
          
        }
      }
    }
  }
}
.small {
  color:  #ffffffcc;
  @include text-overflow(2)
}
.btn-combo {
  transition: all 0.5s;
  z-index: 10;
  cursor: pointer;
  @include positionFixed(bottom,right,100px,25px);
  @include wh-circle(150px);
  @include for-size(lg) {
    @include wh-circle(120px);
  }
  @include for-size(sm) {
    @include wh-circle(100px);
  }
  img {
    width: 100%;
    position: relative;
  }
  &.show-combo {
    transform: translateX(-450px) rotate(-360deg);
  }
}

.background-drop {
  background-color: rgb(8, 8, 8, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
  &.show-background {
    opacity: 1;
    visibility: visible;
  }
}

.bg-combo {
  width: 0;
  background-color:$color-fontD;
  height: 100%;
  @include positionFixed(top,right,0,0);
  z-index: 10;
  overflow-x: hidden;
  // width: 450px;
  transition: ease-out 0.4s;
  &.show-combo {
    width: 450px;
    transition: ease-in 0.3s;
    @include for-size(xs) {
      width: 100%;
    }
  }
}

table {
  transform: translateY(40%);
  &.table-phone{
    transform: translateY(25%);
  }
  .combo-content {
    color: black;
  }
  .button-close {
    text-align: right;
    font-size: $font-size5;
    color: hsla(347, 70%, 48%, 0.7);
    cursor: pointer;
    &:hover {
      color: hsla(347, 70%, 48%);
    }
    transform: translateX(-20px);
  }
  h1 {
    color: rgb(110, 110, 110);
    text-align: center;
    border-bottom: 1px solid #cecece;
    padding-bottom: $pad-mar3;
  }
  .combo-body {
    margin: $pad-mar3 auto;
  }
  .combo-text {
    font-size: $font-size3;
    line-height: 30px;
    p:first-child {
      color: black;
    }
    p:last-child {
      color: #eed545;
      font-weight: 550;
    }
  }
  .combo-line {
    background-color: #cecece;
    height: 1px;
    width: 50%;
    margin-left: auto;
  }
  .combo-footer {
    margin-top: $pad-mar3;
    font-size:$font-size3;
    text-align: right;
    span:last-child {
      margin-left: $pad-mar8;
      width: 100px;
    }
  }
  img {
    width: 75px;
    border-radius: 5px;
  }
  .minus,
  .plus {
    width: 30px;
    line-height: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: $font-size4;
    background-color: #397d90;
    color: #fff;
  }
  .soLuong {
    width: 40px;
    background-color: #fff;
    line-height: 30px;
    color: #0a0f13;
    font-weight: 600;
  }
}
.ve-spinner {
  top: -100px;
  position: relative;
  @include for-size(phone-sm) {
    top: -30px;
  }
}
.modal.show {
  display: block;
}

//
.timeBuoc1{
  transform: translateY(-100%);
}
.btn-back{
  @include positionFixed(bottom,left,180px,10px);
  // position: fixed;
  // bottom: 180px;
  // left: 10px;
  color: #ffffffcc;
  font-size: 50px;
  transition: .5s all;
  &:hover{
    color: #fff;
  }
}
.hide-ghe{
  @include for-size(phone-sm) {
    display: none;
  }
}