@import "main";
.admin{
    margin: 0;
    padding: 0;
}
.adminLeft{
    text-align: center;
    border-right: double;
    border-bottom: double;
    .adminTK{
        
        img{
            height: 50px;
        }
    }
    
    h4{
        font-size: $font-size4;
        
        &:hover{
            background-color: forestgreen;
            cursor: pointer;
        }
    }
}
.adminRight{
    display: flex;
}