@import "main";
.lichPhim {
  padding-left: 0;
  cursor: context-menu;
  list-style: none;
  @include for-size(sm) {
    margin-top: $pad-mar2;
    border-top: 1px solid rgba(0, 0, 0, 0.692);
    padding: $pad-mar6 $pad-mar7 0 $pad-mar7;
  }
  @include for-size(phone-sm) {
    border-top: #188f57 solid 1px;
    margin-top: $pad-mar4;
    margin-right:$pad-mar1;
    padding: $pad-mar2 $pad-mar1 $pad-mar2 $pad-mar4;
  }
  .lich-phim__content {
    img {
      width: 80px;
      height: 105px;
      @include for-size(ll) {
        width: 60px;
        height: 90px;
      }

      @include for-size(sm) {
        width: 75px;
        height: 105px;
      }
      @include for-size(xs) {
        width: 65px;
        height: 90px;
      }
      @include for-size(phone-sm) {
        width: 50px;
        height: 60px;
        align-self: center;
      }
    }
    .lich-phim__title {
      font-weight: bold;
      .lich-tenPhim {
        font-size: $font-size2;
        background-color:  #fb4226;
        border-radius: 4px;
        padding: 1px 8px;
        color: #fff;
        min-width: 33px;
        text-align: center;
        display: inline-block;
        margin-bottom: $pad-mar2;
        @include for-size(phone-sm) {
          font-size: $font-size1;
          display: block;
          margin-bottom: 0px;
          width: 50px;
        }
      }
      .tenPhim {
        @include for-size(phone-sm) {
          font-size: $font-size1;
        }
      }
      p {
        color: rgb(0, 0, 0, 0.6);
        @include for-size(phone-sm) {
          font-size: $font-size1;
        }
      }
    }
  }
  .mat-expansion-panel-body {
    display: block;
    height: 100%;
    visibility: visible;
  }
  .lich-phim__suatChieu {
    .suatChieu__2D {
      text-align: center;
      font-size: $font-size4;
      font-weight: bold;
      color: rgb(255, 255, 255);
      margin:$pad-mar1 0;
      background-image: linear-gradient(#3beb98, #188f57);
      width: 50px;
      @include for-size(xs) {
        margin: $pad-mar2;
      }
      @include for-size(phone-sm) {
        margin-right: $pad-mar3 !important;
        font-size: $font-size2;
        padding: $pad-mar1;
        margin: 0
      }
    }
    .suatChieu__gioXem {
      width: 80%;
      @include for-size(phone-sm) {
        width: 100%;
      }
    }
  }
}
.lich-chieu__border {
  // Border ngang
  background-color: #9e9e9ec5;
  height: 1px;
  width: 100%;
  opacity: 0.5;
}
.lichPhim-dark {
  @include for-size(sm) {
    border-top: 1px solid $color-headingD;
  }
  .lich-phim__content {
    cursor: pointer;
    .lich-phim__title {
      .tenPhim {
        color: $color-fontD;
        @include for-size(phone-sm) {
          color: rgb(58, 58, 58);
        }
      }
      p {
        color:$color-fontD-o6;
        @include for-size(phone-sm) {
          color: $color-fontL-o6;
        }
      }
    }
  }
}
.lichPhim-empty {
  padding: 2% 25%;
  font-size: 20px;
  text-shadow: 0px 0 $pad-mar1 $color-fontL-o6;
  margin: 10px auto;
  @include for-size(phone-sm) {
    text-shadow: 0px 0 $pad-mar1 hsla(8, 96%, 57%, 0.5);
    color: $color-headingA;
    font-size: $font-size2;
    & p {
      margin: 0;
    }
  }
  .lichPhim-dark {
    text-shadow: 0px 0 $pad-mar1 white;
    color: white;
    @include for-size(phone-sm) {
      text-shadow: 0px 0 $pad-mar1 hsla(8, 96%, 57%, 0.5);
      color: $color-headingA;
    }
  }
}
