@import "variable";
$breakpoints: (
  iphone-5:319px,
  iphone: 375px,
  phone-sm: 420px,
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px,
  F: 1500px,
  xl: 1920px,
);

%fontColor-blue {
  color: $color-ve-blue;
  font-weight: bold;
  text-shadow: 0 0 10px $color-shadow-ve;
}

@mixin wh-circle($size) {
  width: $size;
  height: $size;
}

// col-bs4
@mixin col-bs4($size) {
  max-width: $size;
  flex: 0 0 $size;
}

//Hiển thị số dòng cần hiển thị + thêm dấu .. ở cuối dòng

@mixin text-overflow($line) {
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis
}

//Hiện thị số dòng.
@mixin line-clamp($number-line){
	display: -webkit-box;
    -webkit-line-clamp: $number-line;
	-webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

// Căn Giữa khi position Absolute
@mixin centerAbsolute($pos) {
  position: absolute;
  @if $pos == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $pos == "left" {
    left: 50%;
    transform: translateX(-50%);
  } @else if $pos == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
}

//Position Fixed
@mixin positionFixed($Y, $X, $positionY , $positionX ) {
  position: fixed;
  @if ($Y == 'top'){
    top:$positionY;
    @if ($X == 'left'){
      left:$positionX;
    }@else{
      right: $positionX;
    }
  } @else{
    bottom: $positionY;
    @if ($X == 'left'){
      left:$positionX;
    }@else{
      right: $positionX;
    }
  }
}

@mixin for-size($breakpoint) {
  //Kiểm tra breakpoint truyền vào có tồn tại
  //như bạn đã định nghĩa hay không.
  @if map-has-key($breakpoints, $breakpoint) {
    // Lấy giá trị pixel breakpoint đó
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    //Build media query
    @media (max-width: $breakpoint-value) {
      //Những gì bạn mong muốn sẽ được lồng vào @content
      @content;
    }
  }
}
