// Max Width
$width-xl: 1460px;
$width-ll: 1160px;
$width-lg: 960px;
$width-md: 760px;
$width-sm: 560px;
$width-xs: 460px;           
$width-phone: 340px;

//Height
$height-header:76px;

// Padding - Margin
$pad-mar1: 5px;
$pad-mar2: 10px;
$pad-mar3: 15px;
$pad-mar4: 20px;
$pad-mar5: 25px;
$pad-mar6: 30px;
$pad-mar7: 40px;
$pad-mar8: 50px;
$pad-marHeading:100px;

//Font-size
$font-size1: 12px;
$font-size2: 15px;
$font-size3: 18px;
$font-size4: 20px;
$font-size5: 25px;
$font-size6: 30px;
$font-size7: 40px;

//Color Light
$color-fontD: #fff; //Main Font Color Dark Theme
$color-fontD-o8: #ffffffcc; // Font Color Dark Theme with opacity 0.8
$color-fontD-o6: hsla(0, 0%, 100%, 0.6); //0.6
$color-fontL: #000; //Main Font Color Light Theme
$color-fontL-o3: rgb(0, 0, 0, 0.3); // Font Color Light Theme with opacity 0.8
$color-fontL-o8: rgb(0, 0, 0, 0.8); // Font Color Light Theme with opacity 0.8
$color-fontL-o6: rgb(0, 0, 0, 0.6); //0.6
$color-headingA: #fb4226; // Font Color Heading Active
$color-headingD: rgb(255, 255, 255, 0.6); // Font Color Heading Disble Dark
$color-headingL: rgba(0, 0, 0, 0.6); // Font Color Heading Disble Light
$color-but-lo: #fb4226; // Background Color Button and Logo(cyber)
$color-font-but-lo: #fff; // Font Color Button and Logo(cyber)
$color-timeD: #16db5e; // Font Color Time Dark
$color-timeL: #108f3e; // Font Color Time Light
$color-ve-blue:#5cd4e4;
$color-shadow-ve:#a4dbd68a;
$color-admin-login:#3f51b5;
$color-admin-login-hover:#1c2b7e;
$color-close:rgba(217, 38, 38, 0.8);
$color-close-hover:rgba(217, 38, 38);
$color-disabled:#afafaf;
$color-background: #4d4d4d;